In [2]:
import pandas as pd
import pyarrow

# FHVHV_tripdata_2022-06

The first step to the EDA is to import the data from the parquet file to a pandas DataFrame.

In [3]:
hv22 = pd.read_parquet('Datasets/taxis/fhvhv_tripdata_2022-06.parquet')

In [4]:
hv22

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2022-06-01 00:15:35,2022-06-01 00:17:20,2022-06-01 00:17:41,2022-06-01 00:25:41,234,114,1.500,...,0.68,2.75,0.0,1.00,9.36,N,N,,N,N
1,HV0003,B03404,B03404,2022-06-01 00:39:04,2022-06-01 00:40:36,2022-06-01 00:42:37,2022-06-01 00:56:32,161,151,4.180,...,1.81,2.75,0.0,4.82,15.61,N,N,,N,N
2,HV0003,B03404,B03404,2022-06-01 00:27:53,2022-06-01 00:31:34,2022-06-01 00:36:22,2022-06-01 00:45:31,231,87,2.910,...,1.09,2.75,0.0,1.00,8.22,N,N,,N,N
3,HV0003,B03404,B03404,2022-06-01 00:48:15,2022-06-01 00:49:38,2022-06-01 00:51:18,2022-06-01 01:11:15,87,225,5.450,...,2.19,2.75,0.0,0.00,16.88,N,N,,N,N
4,HV0005,B03406,None,2022-06-01 00:04:51,NaT,2022-06-01 00:13:33,2022-06-01 00:17:27,137,162,1.069,...,0.73,2.75,0.0,0.00,5.47,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17780070,HV0003,B03404,B03404,2022-06-30 23:20:49,2022-06-30 23:24:23,2022-06-30 23:24:43,2022-06-30 23:38:19,74,224,6.070,...,1.56,2.75,0.0,2.24,16.23,N,N,,N,N
17780071,HV0003,B03404,B03404,2022-06-30 23:36:13,2022-06-30 23:39:12,2022-06-30 23:39:20,2022-06-30 23:51:10,224,13,4.900,...,1.59,2.75,0.0,0.00,13.94,N,N,,N,N
17780072,HV0003,B03404,B03404,2022-06-30 23:50:50,2022-06-30 23:55:11,2022-06-30 23:57:12,2022-07-01 00:07:07,231,231,0.530,...,1.06,2.75,0.0,3.00,18.46,N,N,,N,N
17780073,HV0003,B03404,B03404,2022-06-30 23:02:40,2022-06-30 23:04:58,2022-06-30 23:06:44,2022-06-30 23:26:28,234,48,2.850,...,2.79,2.75,0.0,1.00,27.27,N,N,,N,N
17780074,HV0005,B03406,None,2022-06-30 23:00:28,NaT,2022-06-30 23:03:06,2022-06-30 23:18:13,244,242,6.207,...,1.80,0.00,0.0,0.00,15.26,N,N,N,N,N

The table is composed of 24 columns:

- Hvfhs_license_num: The TLC license number of the HVFHS base or business
- dispatching_base_num: The TLC Base License Number of the base that dispatched the trip
- originating_base_num: base number of the base that received the original trip request
- request_datetime: date/time when passenger requested to be picked up
- on_scene_datetime: date/time when driver arrived at the pick-up location (Accessible Vehicles-only)
- pickup_datetime: The date and time of the trip pick-up
- dropoff_datetime: The date and time of the trip drop-of
- PULocationID: TLC Taxi Zone in which the trip began
- DOLocationID: TLC Taxi Zone in which the trip ended
- trip_miles: total miles for passenger trip
- trip_time: total time in seconds for passenger trip
- base_passenger_fare: base passenger fare before tolls, tips, taxes, and fees
- tolls: total amount of all tolls paid in trip
- bcf: total amount collected in trip for Black Car Fund
- sales_tax: total amount collected in trip for NYS sales tax
- Congestion_surcharge: Total amount collected in trip for NYS congestion surcharge.
- airport_fee: $2.50 for both drop off and pick up at LaGuardia, Newark, and John
F. Kennedy airports
- tips: total amount of tips received from passenger
- driver_pay: total driver pay (not including tolls or tips and net of commission,
surcharges, or taxes)
- shared_request_flag: Did the passenger agree to a shared/pooled ride, regardless of
whether they were matched? (Y/N)
- shared_match_flag: Did the passenger share the vehicle with another passenger who
booked separately at any point during the trip? (Y/N)
- access_a_ride_flag: Was the trip administered on behalf of the Metropolitan
Transportation Authority (MTA)? (Y/N)
- wav_request_flag: Did the passenger request a wheelchair-accessible vehicle (WAV)?
(Y/N)
- wav_match_flag: Did the trip occur in a wheelchair-accessible vehicle (WAV)? (Y/N)

In [5]:
hv22.dtypes

hvfhs_license_num               object
dispatching_base_num            object
originating_base_num            object
request_datetime        datetime64[us]
on_scene_datetime       datetime64[us]
pickup_datetime         datetime64[us]
dropoff_datetime        datetime64[us]
PULocationID                     int64
DOLocationID                     int64
trip_miles                     float64
trip_time                        int64
base_passenger_fare            float64
tolls                          float64
bcf                            float64
sales_tax                      float64
congestion_surcharge           float64
airport_fee                    float64
tips                           float64
driver_pay                     float64
shared_request_flag             object
shared_match_flag               object
access_a_ride_flag              object
wav_request_flag                object
wav_match_flag                  object
dtype: object

We see there are ID fields:
- hvfhs_license_num
- dispatching_base_num
- originating_base_num
- PULocationID
- DOLocationID

Boolean values fields:
- shared_request_flag
- shared_match_flag
- access_a_ride_flag
- wav_request_flag
- wav_match_flag

Datetime values:
- request_datetime
- on_scene_datetime
- pickup_datetime
- dropoff_datetime

Numeric values:
- trip_miles
- trip_time
- base_passenger_fare
- tolls
- bcf
- sales_tax
- congestion_surcharge
- airport_fee
- tips
- driver_pay

## Duplicates

In [6]:
hv22.duplicated().sum()

0

There are no duplicated rows in this data set.

## Null values

In [7]:
hv22.isna().sum()

hvfhs_license_num             0
dispatching_base_num          0
originating_base_num    4723562
request_datetime              0
on_scene_datetime       4723559
pickup_datetime               0
dropoff_datetime              0
PULocationID                  0
DOLocationID                  0
trip_miles                    0
trip_time                     0
base_passenger_fare           0
tolls                         0
bcf                           0
sales_tax                     0
congestion_surcharge          0
airport_fee                   0
tips                          0
driver_pay                    0
shared_request_flag           0
shared_match_flag             0
access_a_ride_flag            0
wav_request_flag              0
wav_match_flag                0
dtype: int64

We only see some missing values in the columns 'originating_base_num' and 'on_scene_datetime'.


As the number of missing values is the same in these columns, it could be that they are in the same rows, we could see that in further analysis. For now, we could say that the number of null values is around the 26% of the dataset.

## Distribution

We'll analyze the distribution of the columns with numeric values. Excluding the ones that are categorical, IDs or dates.

In [8]:
numcolumns = ['trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay']

hv22[numcolumns].describe()

,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07,1.778008e+07
mean,5.169061e+00,1.216133e+03,2.507782e+01,1.194475e+00,7.946835e-01,2.124014e+00,1.160395e+00,2.122203e-01,1.164189e+00,1.992252e+01
std,6.058429e+00,8.924502e+02,2.111751e+01,3.975068e+00,7.077042e-01,1.757838e+00,1.366686e+00,7.030242e-01,3.247914e+00,1.629283e+01
min,0.000000e+00,0.000000e+00,-1.055700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.300000e+02
25%,1.660000e+00,6.180000e+02,1.191000e+01,0.000000e+00,3.600000e-01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.570000e+00
50%,3.119000e+00,9.840000e+02,1.922000e+01,0.000000e+00,5.800000e-01,1.640000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.536000e+01
75%,6.420000e+00,1.544000e+03,3.084000e+01,0.000000e+00,9.700000e-01,2.670000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.477000e+01
max,6.259600e+02,4.230900e+04,2.409230e+03,2.262000e+02,7.291000e+01,2.156800e+02,1.100000e+01,6.900000e+00,1.500000e+02,9.933100e+02

We can see there're some outliers, including negative values for amounts paid

# FHVHV_tripdata_2023-06

In [10]:
hv23 = pd.read_parquet('Datasets/taxis/fhvhv_tripdata_2023-06.parquet')

In [11]:
hv23

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2023-06-01 00:17:17,2023-06-01 00:21:12,2023-06-01 00:21:22,2023-06-01 00:27:59,225,61,1.780,...,0.79,0.00,0.0,0.0,6.07,N,N,,N,N
1,HV0003,B03404,B03404,2023-06-01 00:04:34,2023-06-01 00:07:50,2023-06-01 00:07:55,2023-06-01 00:38:35,255,85,6.300,...,2.69,0.00,0.0,0.0,25.58,N,N,,N,N
2,HV0003,B03404,B03404,2023-06-01 00:09:43,2023-06-01 00:10:19,2023-06-01 00:12:19,2023-06-01 00:40:14,162,181,8.830,...,3.19,2.75,0.0,0.0,27.40,N,N,,N,N
3,HV0005,B03406,None,2023-06-01 00:52:00,NaT,2023-06-01 00:57:15,2023-06-01 01:17:35,25,129,8.527,...,2.52,0.00,0.0,0.0,22.63,N,N,N,N,N
4,HV0003,B03404,B03404,2023-05-31 23:58:11,2023-06-01 00:02:10,2023-06-01 00:02:55,2023-06-01 00:29:34,100,25,7.690,...,3.19,2.75,0.0,0.0,25.17,N,N,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19366614,HV0005,B03406,None,2023-06-30 23:06:23,NaT,2023-06-30 23:15:16,2023-06-30 23:19:30,38,191,1.027,...,0.62,0.00,0.0,0.0,5.47,N,N,N,N,N
19366615,HV0005,B03406,None,2023-06-30 23:20:21,NaT,2023-06-30 23:24:46,2023-06-30 23:47:49,191,216,8.842,...,4.16,0.00,0.0,0.0,28.05,N,N,N,N,N
19366616,HV0005,B03406,None,2023-06-30 23:43:17,NaT,2023-06-30 23:58:44,2023-07-01 00:05:15,215,10,0.360,...,0.99,0.00,0.0,0.0,7.07,N,N,N,N,N
19366617,HV0003,B03404,B03404,2023-06-30 23:30:34,2023-06-30 23:31:45,2023-06-30 23:32:06,2023-06-30 23:41:26,42,116,1.570,...,0.95,0.00,0.0,0.0,7.44,N,N,,N,N
19366618,HV0003,B03404,B03404,2023-06-30 23:41:58,2023-06-30 23:43:17,2023-06-30 23:44:42,2023-06-30 23:55:51,116,159,2.240,...,1.35,0.00,0.0,0.0,9.35,N,N,,N,N

We see there are the same columns than the 2022 dataset, so the dictionary works for both.

Also, the data types are equal.

In [12]:
hv23.dtypes

hvfhs_license_num               object
dispatching_base_num            object
originating_base_num            object
request_datetime        datetime64[us]
on_scene_datetime       datetime64[us]
pickup_datetime         datetime64[us]
dropoff_datetime        datetime64[us]
PULocationID                     int32
DOLocationID                     int32
trip_miles                     float64
trip_time                        int64
base_passenger_fare            float64
tolls                          float64
bcf                            float64
sales_tax                      float64
congestion_surcharge           float64
airport_fee                    float64
tips                           float64
driver_pay                     float64
shared_request_flag             object
shared_match_flag               object
access_a_ride_flag              object
wav_request_flag                object
wav_match_flag                  object
dtype: object

## Duplicates

In [13]:
hv23.duplicated().sum()

0

There are no duplicated rows in this dataset.

## Null values

In [14]:
hv23.isna().sum()

hvfhs_license_num             0
dispatching_base_num          0
originating_base_num    5544472
request_datetime              0
on_scene_datetime       5544472
pickup_datetime               0
dropoff_datetime              0
PULocationID                  0
DOLocationID                  0
trip_miles                    0
trip_time                     0
base_passenger_fare           0
tolls                         0
bcf                           0
sales_tax                     0
congestion_surcharge          0
airport_fee                   0
tips                          0
driver_pay                    0
shared_request_flag           0
shared_match_flag             0
access_a_ride_flag            0
wav_request_flag              0
wav_match_flag                0
dtype: int64

We only see some missing values in the columns 'originating_base_num' and 'on_scene_datetime'.


As the number of missing values is the same in these columns, it could be that they are related, we could see that in further analysis. For now, we could say that the number of null values is around the 28% of the dataset.

## Distribution

We'll analyze the distribution of the columns with numeric values. Excluding the ones that are categorical, IDs or dates.

In [16]:
numcolumns = ['trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay']

hv23[numcolumns].describe()

,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07,1.936662e+07
mean,5.134284e+00,1.213151e+03,2.545107e+01,1.144661e+00,8.044696e-01,2.142815e+00,1.095310e+00,2.206794e-01,1.204060e+00,1.997482e+01
std,6.061852e+00,8.825540e+02,2.196256e+01,3.970362e+00,7.432442e-01,1.805573e+00,1.343984e+00,7.146170e-01,3.386233e+00,1.746319e+01
min,0.000000e+00,0.000000e+00,-1.764000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.066800e+02
25%,1.610000e+00,6.090000e+02,1.198000e+01,0.000000e+00,3.600000e-01,1.020000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.960000e+00
50%,3.040000e+00,9.790000e+02,1.900000e+01,0.000000e+00,5.800000e-01,1.620000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.488000e+01
75%,6.380000e+00,1.551000e+03,3.120000e+01,0.000000e+00,9.700000e-01,2.690000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.496000e+01
max,5.684300e+02,3.845700e+04,3.507110e+03,1.230800e+02,2.130200e+02,4.715200e+02,8.250000e+00,6.900000e+00,3.616000e+02,4.334890e+03

We can see there're some outliers, including negative values for amounts paid